@media only screen and (min-width: 1150px) {

  * {
     margin: 0px;
     padding: 0px;
  }

  @font-face {
    font-family: royalcrescent;
    src: url("./fonts/royal_crescent/royalcrescent.otf") format("opentype");
  }

  body {
    font-family: Helvetica;
    background: -webkit-linear-gradient(left top, #36A2FF, #36A2FF, #FF4836, #FF4836 );
  }

  .home {
    text-align: center;
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(left , #000000, rgba(0, 0, 0, 0.5), rgba(172, 172, 172, 0.5), #ACACAC );
    text-decoration: none;
  }

  .home h1 {
    color: white;
    padding-top: 38vh;
    font-size: 120px;
    letter-spacing: 5px;
    font-family: 'royalcrescent';
    font-weight: lighter;
    margin-bottom: 17%;
  }

  .home h2 {
    color: white;
    padding-top: 30px;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'royalcrescent';
    font-weight: lighter;
    }

  .home #hoteltulum {
    text-decoration: none;
  }

  .home .arrowdown {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    margin-left: 48.5%;
    margin-top: 10px;
  }

  .sectionOne {
    height: 1500px;
    width: 93%;
    margin-left: 3.5%;
    background-color: white;
  }

  .sideButton {
    position: fixed;
    z-index: 10;
    width: 3.5%;
    height: 100vh;
    background-color: #000000;
    cursor: pointer;
    text-decoration: none;
    color: white;
    white-space:nowrap;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .sideButton .arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    margin-left: 48.5%;
    margin-top: 10px;
  }

/** SIDE MENU BARS **/
  #leftSide {
    background-color: #000000;
  }
  #leftSide p {
    transform: rotate(-90deg);
    margin-top: 49.5vh;
  }
  #leftSide:hover {
     box-shadow: 2px 1px 1px #1E1E1E;
  }
  #leftArrow {
    transform: rotate(-90deg);
    margin: auto;
    padding-top: 40px;
    margin-left: 3.7vh;
    position: fixed;
  }

  #rightSide {
    margin-left: 96.5%;
    background-color: #ACACAC;
  }
  #rightSide p {
    transform: rotate(90deg);
    margin-top: 41vh;
  }
  #rightSide:hover {
     box-shadow: -2px 1px 1px #A0A0A0;
  }
  #rightArrow {
    transform: rotate(90deg);
    margin: auto;
    padding-top: 40px;
    margin-left: -6px;
    position: fixed;

  }




  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

  #leftMenu h1 {
    margin-left: 30%;
    color: white;
    font-size: 8vh;
    position: absolute;
    margin-top: 36vh;
    z-index: 10;
    white-space:nowrap;
  }
  #leftMenu h2 {
    margin-left: 65%;
    color: white;
    font-size: 4vh;
    position: absolute;
    margin-top: 60vh;
    z-index: 10;
    white-space:nowrap;
  }

  #rightMenu h1 {
    margin-left: 10%;
    color: white;
    font-size: 8vh;
    position: absolute;
    margin-top: 36vh;
    z-index: 10;
    white-space:nowrap;
  }

  #rightMenu h2 {
    margin-left: 46%;
    color: white;
    font-size: 4vh;
    position: absolute;
    margin-top: 60vh;
    z-index: 10;
    white-space:nowrap;
  }

  #leftMenu {
    left: 0;
    background: -webkit-linear-gradient(left , #000000, rgba(0, 0, 0, 0.98) );
    text-align: left;
    margin-left: 3.5%;
    cursor: url('https://spicyweb.com.au/assets/template/cursor-close.svg'), auto;

  }

  #rightMenu {
    right: 0;
    background: -webkit-linear-gradient(right , #ACACAC, rgba(172, 172, 172, 0.98) );
    text-align: left;
    margin-right: 3.5%;
    cursor: url('https://spicyweb.com.au/assets/template/cursor-close.svg'), auto;

  }

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    margin-top: 30px;
}

.overlay a {
    padding: 10px 100px 10px 100px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
    white-space:nowrap;
    width: 10%;
}

  #leftMenu a {
    margin-left: 0%;
  }
  #rightMenu a {
    margin-left: 70%;
  }

  .overlay a p {
    padding-top: 2px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    white-space:nowrap;
    font-weight: lighter;
  }

.overlay a:hover, .overlay a:focus, .overlay a p:hover {
    color: #909090;
}

.overlay .closebtn #leftMenu {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

}
